.answer:hover {
	background-color: hotpink;
	color: rebeccapurple;
}

.correct {
	background-color: #008000;
	color: #dddddd;
}

.wrong {
	background-color: #880000;
	color: #dddddd;
}

#question {
	background-color: rebeccapurple;
	color: hotpink;
}