body {
	background-image: url("../images/marvel.jpg");
	background-size: cover;
	background-color: #504a4a;
}

.answer:hover {
	background-color: steelblue;
	color: #ffffff;
}

.jumbotron {
	background-color: #000000;
	color: #ffffff;
}

.correct {
	background-color: #008000;
	color: #dddddd;
}

.wrong {
	background-color: #880000;
	color: #dddddd;
}

#question {
	background-color: orange;
	color: #ffffff;
	text-shadow: 1px 1px #333333;
}

.sBtn {
	background-color: crimson;
	border: 3px solid #000000;
	text-shadow: 2px 2px #333333;
}

.sBtn:hover {
	background-color: orange;
}

.card {
	border: solid 5px crimson;
}

#buttonId {
	background-color: crimson;
	color: #ffffff;
}

.input-group {
	margin: 20px;
	border: 5px solid crimson;
	border-radius: 5px;
}

.scoreboard {
	background-color: steelblue;
	color: #ffffff;
	text-shadow: 2px 2px #333333;
	border: 5px solid orange;
	padding: 25px;
}

img {
  width: 100%;
  border: 2px solid #333333;
}

.logo {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 75px;
  margin: 10px;
}